

{% if user.is_authenticated %}
<h4>Username : {{profile.user}}</h4>
<h4>Email : {{profile.user.email}}</h4>
<h4>Address : {{profile.addres}}</h4>
<h4> Fill Name {{profile.user.first_name}} {{profile.user.last_name}}</h4>

<img src="{{user.profile.image.url}}" alt="" width="200px">
{% endif %}
<a href="{% url 'logout' %}">logout</a>
<a href='{% url "accounts:profile_edit" %}'>profile_edit</a>                                                                                                                           
